@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chakra+Petch&family=Kdam+Thmor+Pro&family=Source+Serif+Pro&display=swap');

$font-normal:'Chakra Petch', sans-serif;
$font-normal2:'Source Serif Pro', serif;
$font-titulo:'Abril Fatface', cursive;